body{
    font-family: verdana, sans-serif;
    background: #d88fff;
    margin: 0px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #bf51ff;
    font-size: 25pt;
    height: 70px;
}

#Category-Text{
    display: flex;
    font-size: 25pt;
    width: 1050px;
    background: #ff00dd;
    border-radius: 40px;
    height: 120px;
    align-items: center;
    margin-top: 30px;
}

article{
    display: flex;
    justify-content: center;
}

#Homepage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#FAQ-Page{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    background: #ff00dd;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    font-size: 18pt;
    background: #c96cff;
}

nav a{

}

#about-us-page{
    font-size: 16pt;
}

.categorie{
    display: flex;
    flex-direction: column;
    font-size: 16pt;
    background: #ff00dd;
    width: 450px;
    align-items: center;
    height: 530px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 40px;
}

.categorie-img{
    height: 350px;
    margin-bottom: 20px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 15pt;
    margin-top: 20px;
}