body{
    font-family: verdana, sans-serif;
    background: #d88fff;
    margin: 0px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #bf51ff;
    font-size: 25pt;
    height: 70px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    font-size: 18pt;
    background: #c96cff;
}

nav a{

}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-us-page {
    font-size: 3000pt;
}