body{
    font-family: verdana, sans-serif;
    background: #FFFFFF;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2E2E2E;
    font-size: 25pt;
    height: 70px;
    color: #FFFFFF;
    width: 30%;
    font-weight: bold;
}

#Category-Text{
    display: flex;
    font-size: 25pt;
    width: 1050px;
    background: #454692;
    border-radius: 40px;
    height: 120px;
    align-items: center;
    margin-top: 30px;
    margin-left: 300px;
    margin-right: 300px;
    color: #FFFFFF;
}

article{
    display: flex;
    justify-content: center;
}

#Homepage-Main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#FAQ-Page{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    background: #D6D6D6;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 10px solid #CFCFCF;
}

nav{
    display: flex;
    align-items: center;
    height: 70px;
    font-size: 18pt;
    background: #2E2E2E;
    width: 70%;
    justify-content: space-evenly;
    font-weight: bold;
}

nav a{
    text-decoration: none;
    color: #FFFFFF;
    
}
nav a:hover {
    background: #383838;
}

main a{
    text-decoration: none;
}

#about-us-page{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    background: #D6D6D6;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 10px solid #CFCFCF;
}

#contact-us-page{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    background: #D6D6D6;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 10px solid #CFCFCF;
}

.categorie{
    display: flex;
    flex-direction: column;
    font-size: 16pt;
    background: #6264bb;
    width: 450px;
    align-items: center;
    height: 530px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 40px;
    border: 7px solid #383838;
}

.categorie-img{
    height: 350px;
    margin-bottom: 20px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 15pt;
    margin-top: 40px;
    background: #232323;
    color: #FFFFFF;
    width: 100%;
    font-weight: bold;
}

